.e1_3 { 
	
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.33749878406525, 245.02099066972733, 246.49999290704727, 1);
	width: 1150px;
	height:1352px;
    border:1px #D3D3D3;
}

.e1_4 { 
	float: left;
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:1352px;
    border:1px #D3D3D3;
}
.e1_4 span{
	font-family: 'Cairo';
}

.e1_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-1.0779650808468872deg);
	border-radius:500px;
	width:100px;
	height:100px;
	background-image:url(https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_13 { 
	color:rgba(108.37500303983688, 107.4718751013279, 107.4718751013279, 1);
	width:109px;
	height:33px;
	font-family:Cairo;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e3_20 { 
	background-color:rgba(255, 255, 255, 1);
	width: 346px;
	height:90px;
    border:1px solid #D3D3D3;
	cursor: pointer;
}
.e3_20 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: 'Cairo';
	
}
.e3_20 img{
	border: none;
	border-radius: 0px;
	width: 50px;
}
.e3_20 :hover{
	background-color: #A9A9A9;
}




.e4_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:90px;
    border:1px solid #D3D3D3;
	cursor: pointer;
}
.e4_16 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: 'Cairo';
}
.e4_16 img{
	border: none;
	border-radius: 0px;
	width: 35px;
}
.e4_16 :hover{
	background-color: #A9A9A9;
}




.e1_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:90px;
    border:1px solid #D3D3D3;
	cursor: pointer;
}
.e1_12 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: 'Cairo';
}
.e1_12 img{
	border: none;
	border-radius: 0px;
	width: 35px;
}
.e1_12 :hover{
	background-color: #A9A9A9;
}




.e1_5 { 
	float: right;
	background-color:rgba(228.4374949336052, 226.53384268283844, 226.53384268283844, 1);
	width:804px;
	height:133px;
    border:1px #D3D3D3;
}
.logout{
	float: right;
	background-color: #890FE8;
	color: white;
	padding: 14px 40px;
	border: 1px solid #D3D3D3;
	font-size: medium;
	font-weight: bold;
	font-family: 'Cairo';
	border-radius: 1e+08px;
	cursor: pointer;
}

  
  
  input[type=checkbox]{
	  margin: 8px 0 0 16px
  }

  input[type=text],select{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  input[type=number]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  input[type=date]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  input[type=email]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  input[type=tel]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0 0 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0px;
    box-sizing: border-box;
  }
  input[type=submit]{
	  background-color: #8212F1;
	  border: none;
	  border-radius: 1e+08px;
	  color: white;
	  font-weight: bold;
	  padding: 16px 32px;
	  margin: 8px 0 0 16px;
	  cursor: pointer;
  }

  h2{
	  text-align: center;
  }
  form label{
	  margin-left: 1em;
  }

  .help{
	  cursor: pointer;
  }