.e1_3 { 
	
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(240.33749878406525, 245.02099066972733, 246.49999290704727, 1);
	width: 1150px;
	height:1352px;
    border:1px #D3D3D3;
}

.e1_4 { 
	float: left;
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:1352px;
    border:1px #D3D3D3;
}
.e1_4 span{
	font-family: sans-serif;
}

.e1_7 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-1.0779650808468872deg);
	border-radius:500px;
	width:100px;
	height:100px;
	background-image:url(https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_13 { 
	color:rgba(108.37500303983688, 107.4718751013279, 107.4718751013279, 1);
	width:109px;
	height:33px;
	font-family:sans-serif;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e3_20 { 
	background-color:rgba(255, 255, 255, 1);
	width: 346px;
	height:90px;
    border:1px solid #D3D3D3;
}
.e3_20 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: sans-serif;
	cursor: pointer;
}
.e3_20 img{
	border: none;
	border-radius: 0px;
	width: 50px;
}
.e3_20 :hover{
	background-color: #A9A9A9;
}

.e4_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:90px;
    border:1px solid #D3D3D3;
}
.e4_16 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: sans-serif;
	cursor: pointer;
}
.e4_16 img{
	border: none;
	border-radius: 0px;
	width: 35px;
}
.e4_16 :hover{
	background-color: #A9A9A9;
}


.e1_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:346px;
	height:90px;
    border:1px solid #D3D3D3;
}
.e1_12 span{
	display: block;
	text-align: center;
	line-height: 1em;
	font-family: sans-serif;
	cursor: pointer;
}
.e1_12 img{
	border: none;
	border-radius: 0px;
	width: 35px;
}
.e1_12 :hover{
	background-color: #A9A9A9;
}


.e1_5 { 
	float: right;
	background-color:rgba(228.4374949336052, 226.53384268283844, 226.53384268283844, 1);
	width:804px;
	height:133px;
    border:1px #D3D3D3;
	
}

.logout{
	float: right;
	background-color: #890FE8;
	color: white;
	padding: 14px 40px;
	border: 1px solid #D3D3D3;
	font-size: medium;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 1e+08px;
	cursor: pointer;
	margin-right: 2px;
}

.help{
	cursor: pointer;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


.employees {
	margin-top: 0.2em;
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 69%;
    background-color: white;
    border-collapse: collapse;
  }
.employees th{
    border: 1px solid #dddddd;
    background-color: #006699;
    color: white;
    padding: 8px;
}
  
.employees td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
.employees tr:nth-child(even) {
    background-color: #dddd;
  }
.employees tr:hover {
    background-color: #A9A9A9;
}

.employees a{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.add_employee{
	background-color: #8212F1;
	color: white;
	padding: 14px 40px;
	border: 1px solid #D3D3D3;
	font-size: medium;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 1e+08px;
	cursor: pointer;
	margin-right: 16px;
}
  


