{% extends 'template.html' %}

<!DOCTYPE html>
{% load static %}
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% block content %}
<link rel="stylesheet" href="{% static 'add_employee_style.css' %}">

<div class="heading">
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Add New Employee</b></h2>
</div>
<br>
<br>
<br>
<div>
    <form action="#" method="POST">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" name="firstname" required><br><br><br>

        <label for="lname">Last Name</label><br>
        <input type="text" id="lname" name="lastname" required><br><br><br>

        <label for="job_pos">Job Position</label><br>
        <select name="job_pos" id="job_pos">
            <option disabled selected value> ------------------------- Select an Option ------------------------- </option>
            <option value="technical">Technical</option>
            <option value="sales">Sales</option>
            <option value="marketing">Marketing</option>
            <option value="logistics">Logistics</option>
        </select><br><br><br>
        
        <label for="empid">Employee ID</label><br>
        <input type="number" id="empid" name="empid" required><br><br><br>

        <label for="date">Date of Joining</label><br>
        <input type="date" id="date" name="date" required><br><br><br>

        <label for="email">Email Address</label><br>
        <input type="email" id="email" name="email" required><br><br><br>

        <label for="mobileno">Mobile Number</label><br>
        <input type="tel" id="mobileno" name="mobileno" pattern="[0-9]{10}" required><br><br><br>

        <label for="checkbox">Documents to be submitted</label><br>
        <input type="checkbox" id="aadhar" name="aadhar" value="aadhar">
        <label for="aadhar"> Aadhar Card</label><br>
        <input type="checkbox" id="pan" name="pan" value="pan">
        <label for="pan"> PAN Card</label><br>
        <input type="checkbox" id="passport" name="passport" value="passport">
        <label for="passport"> Passport</label><br>
        <input type="checkbox" id="license" name="license" value="license">
        <label for="license"> Driving License</label><br><br><br>
    
        <input type="submit" value="Submit">
        
        
    </form>
</div>

{% endblock %}