{% extends 'sidebar.html' %}
<!doctype html>
{% load static %}
{% block content %}
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
<title>Add Employee</title>
<link rel="stylesheet" href="{% static 'AddEmployeeStyle.css' %}">
<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

</head>
  
  <div class="col-md-9">
    
    <h1 class="display-4 ps-5">Add New Employee</h1>

    <br>
    <br>
    <div class="container">
      <form class="row g-3 ">
        <div class="col-md-4 offset-md-1" id="fname" >
          <label for="validationDefault01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationDefault01" name="firstname" required>
        </div>
        <div  class="col-md-4 offset-md-1">
          <label for="validationDefault02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationDefault02" name="lastname" required>
        </div>
        <div class="col-md-4 offset-md-1">
          <label for="validationDefault04" class="form-label">Job Position</label>
          <select class="form-select" id="validationDefault04" name="job_pos" required>
            <option selected disabled value="">------ Select an Option ------</option>
            <option>Sales</option>
            <option>IT</option>
            <option>HR</option>
          </select>
        </div>
        <div class="col-md-4 offset-md-1">
            <label for="validationDefault03" class="form-label">Employee ID</label>
            <input type="number" min="111111" max="999999" class="form-control" id="validationDefault03" name="empid" required>
        </div>
        <div class="col-md-4 offset-md-1">
            <label for="validationDefault04" class="form-label">Date of Joining</label>
            <input type="date" class="form-control" id="validationDefault04" name="date" required>
        </div>
        <div class="col-md-4 offset-md-1">
          <label for="validationDefault05" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="validationDefault05" placeholder="name@example.com" name="email" required>
        </div>
        <div class="col-4 offset-md-1">
          <label for="validationDefault06" class="form-label">Mobile Number</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">+91</span>
            <input type="tel" pattern="[0-9]{10}" class="form-control" id="validationDefault06"  aria-describedby="inputGroupPrepend2" name="mobileno" required>
          </div>
            
        </div>
        <div class="col-md-12 offset-md-1">
            <label class="col-label" for="col-md-12">Documents to be submitted</label>
            <br>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="aadhar">
              <label class="form-check-label" for="flexCheckDefault">
                Aadhar Card
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked01" name="pan">
              <label class="form-check-label" for="flexCheckChecked01">
                Pan Card
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked02" name="license">
              <label class="form-check-label" for="flexCheckChecked02">
                Driving License
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked03" name="passport">
              <label class="form-check-label" for="flexCheckChecked03">
                Passport
              </label>
            </div>
          </div>
          <div class="col-12 offset-md-1">
            <button class="btn btn-outline-primary" type="submit">Submit form</button>
          </div>
        </form>
    </div>
  </div>
  {% endblock %}


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
