{% extends 'template.html' %}
{% load static %}

<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% block content %}
<link rel="stylesheet" href="{% static 'employee_details_style.css' %}">

<div class="heading">
    <h2><b>Employees</b></h2>
</div>
<br>
<br>
<br>
<br>
<table class="employees">
    <tr>
        <th>Name</th>
        <th>Employee ID</th>
        <th>Job Position</th>
        <th>Document Preview</th>
        <th>Remove Employee</th>
    </tr>
    {% for i in entry %}
    <tr>
        <td>{{i.first_name}}</td>
        <td>{{i.emp_id}}</td>
        <td>{{i.group_name}}</td>
        <td>
            <a href="document_preview">
                View
            </a>
        </td>
        <td>
            <a href="#" onclick="return confirm('Are you sure');">
            Remove
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<div class>
    <button class="add_employee" style="float: right;">Add Employee</button>
</div>

{% endblock %}