{% extends 'template.html' %}

<!DOCTYPE html>

{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Notifications</title>

{% block content %}
<link rel="stylesheet" href="{% static 'notification_design.css' %}">
<br>
<br>
<div class="heading">
    <h2><b>Notifications</b></h2>
</div>
<br>
<div>
    <input class="textbox" type="text">
    <br><br>
    <input class="textbox" type="text">
    <br><br>
    <input class="textbox" type="text">
</div>

{% endblock %}